In [1]:
import pandas as pd

In [3]:
books = pd.read_csv('books.csv')

In [4]:
books.head()

,isbn13,title,authors,genre,img,description,published_year,rating,pages
0,9.780000e+12,Gilead,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0
1,9.780000e+12,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0
2,9.780010e+12,The One Tree,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0
3,9.780010e+12,Rage of angels,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,A memorable mesmerizing heroine Jennifer -- br...,1993.0,3.93,512.0
4,9.780010e+12,The Four Loves,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0

In [5]:
books.describe()

             isbn13  published_year       rating        pages
count  6.810000e+03     6804.000000  6767.000000  6767.000000
mean   9.780677e+12     1998.630364     3.933284   348.181026
std    6.067872e+08       10.484257     0.331352   242.376783
min    9.780000e+12     1853.000000     0.000000     0.000000
25%    9.780330e+12     1996.000000     3.770000   208.000000
50%    9.780550e+12     2002.000000     3.960000   304.000000
75%    9.780810e+12     2005.000000     4.130000   420.000000
max    9.789040e+12     2019.000000     5.000000  3342.000000

In [9]:
books.isnull().sum()

isbn13              0
title               0
authors            72
genre              99
img               329
description       262
published_year      6
rating             43
pages              43
dtype: int64

In [11]:
books.columns

Index(['isbn13', 'title', 'authors', 'genre', 'img', 'description',
       'published_year', 'rating', 'pages'],
      dtype='object')

In [12]:
books = books[['isbn13', 'title', 'genre', 'description', 'rating']]

In [13]:
books['tags'] = books['description'] + books['genre']

In [14]:
books

,isbn13,title,genre,description,rating,tags
0,9.780000e+12,Gilead,Fiction,A NOVEL THAT READERS and critics have been eag...,3.85,A NOVEL THAT READERS and critics have been eag...
1,9.780000e+12,Spider's Web,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,3.83,A new 'Christie for Christmas' -- a full-lengt...
2,9.780010e+12,The One Tree,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,3.97,Volume Two of Stephen Donaldson's acclaimed se...
3,9.780010e+12,Rage of angels,Fiction,A memorable mesmerizing heroine Jennifer -- br...,3.93,A memorable mesmerizing heroine Jennifer -- br...
4,9.780010e+12,The Four Loves,Christian life,Lewis' work on the nature of love divides love...,4.15,Lewis' work on the nature of love divides love...
...,...,...,...,...,...,...
6805,9.788190e+12,I Am that,Philosophy,This collection of the timeless teachings of o...,4.51,This collection of the timeless teachings of o...
6806,9.788190e+12,Secrets Of The Heart,Mysticism,NaN,4.08,NaN
6807,9.788450e+12,Fahrenheit 451,Book burning,NaN,3.98,NaN
6808,9.789030e+12,The Berlin Phenomenology,History,Since the three volume edition ofHegel's Philo...,0.00,Since the three volume edition ofHegel's Philo...
6809,9.789040e+12,'I'm Telling You Stories',Literary Criticism,This is a jubilant and rewarding collection of...,3.70,This is a jubilant and rewarding collection of...

In [15]:
new_data = books.drop(columns=['description', 'genre'])

In [16]:
new_data

,isbn13,title,rating,tags
0,9.780000e+12,Gilead,3.85,A NOVEL THAT READERS and critics have been eag...
1,9.780000e+12,Spider's Web,3.83,A new 'Christie for Christmas' -- a full-lengt...
2,9.780010e+12,The One Tree,3.97,Volume Two of Stephen Donaldson's acclaimed se...
3,9.780010e+12,Rage of angels,3.93,A memorable mesmerizing heroine Jennifer -- br...
4,9.780010e+12,The Four Loves,4.15,Lewis' work on the nature of love divides love...
...,...,...,...,...
6805,9.788190e+12,I Am that,4.51,This collection of the timeless teachings of o...
6806,9.788190e+12,Secrets Of The Heart,4.08,NaN
6807,9.788450e+12,Fahrenheit 451,3.98,NaN
6808,9.789030e+12,The Berlin Phenomenology,0.00,Since the three volume edition ofHegel's Philo...
6809,9.789040e+12,'I'm Telling You Stories',3.70,This is a jubilant and rewarding collection of...